*{
    margin: 0;
}

.contenedor{
    background: #5614B0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DBD65C, #5614B0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DBD65C, #5614B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
   width: 100vw;
   height: 100vh;
   text-align: center; 
}

p{
    font-size: xx-large;
    padding: 15%;
}

button{
    font-size: xx-large;
    padding: 0.75em;
}

#YESBTN{
    transform: translate(-100%,0) ;
}

#NOBTN{
    position: absolute ;
}







.XD{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50);
}
.XD{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    background-color: #ffdc60;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 50px;
    z-index: 1;
    overflow: hidden;
    border-radius:10px ;
    text-transform: capitalize;
}
.XD::after,.XD::before{
    content: '';
    background-color: #57c9;
    height: 50%;
    width: 0;
    position: absolute;
    transition: 0.3s cubic-bezier(
        .785, .135, .15, .86
    );
        -webkit-transition: 0.3s cubic-bezier(
        .785, .135, .15, .86
    );
    z-index: -1;

}
.XD:hover::before{
    width:100%;
    right:0;
    left: auto;

}
.XD::before{
    top:0;
    left: 0;
    right: auto;
}
.XD:hover::after{
    width: 100%;
    left: 0;
right: auto;

}
.XD::after{
    bottom: 0;
    right: 0;
    left: auto;
}

